.darkBg{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modal {
    width: 250px;
    height: 170px;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }
  .modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .heading {
    margin: 10px;
    padding: 10px;
    color: #2C3E50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
  .modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2C3E50;
    text-align: center;
  }
  .modalAction {
    position: absolute;
    bottom: 16px;
    margin-bottom: 10px;
    width: 100%;
  }
  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: white;
    background: rgb(10, 60, 223);
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
  .logoutBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #FF3E4E;
    transition: all 0.25s ease;
  }
  .logoutBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #FF3E4E;
  }
  .cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #FCFCFC;
    background: #2C3E50;
    transition: all 0.25s ease;
  }
  .cancelBtn:hover {
    box-shadow: none;
    transform: translateY(-5px);
  }

  /* change profile pic css */
  .changepic{
    background: #fff;
    border-radius: 20px;
    text-align: center;
  }
  .changepic div{
    border-top: 1px solid #00000030;
  }

  .upload-btn{
    background: none;
    cursor: pointer;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    margin: 10px 80px;
  }