
.card{
    /* text-align: center; */
   max-width: 500px;
   height: max-content;
   margin: 25px auto;
   /* border: 1px solid rgb(173,173,173); */
   border-radius: 5px;
}
.card-Header{
    display: flex;
    background-color: darkseagreen;
}
.card-Header h5{
margin: 0px;
padding: 11px;
}
.card-pic img{
width: 30px;
height: 30px;
border-radius: 50%;
/* object-fit: contain; */
padding: 5px;
}
.card-image img{
    width: 100%;
}
.card-content{
    text-align: left;
    line-height: 3px;
    padding: 3px 10px;
    border-bottom: 1px solid rgb(173,173,173);
    background-color: rgb(196, 235, 196);
}
.card-comment{
    display: flex;
    align-items: center;
}
.card-comment input{
    margin: 0;
    
    outline: none;
    border: none;
    padding: 10px;
    width: 80% ;
}
.comment-btn{
    border: none;
    background: none;
    font-weight: bolder;
    cursor: pointer;
    color: rgb(47, 126, 158);
}

/* comment section */

.show-comment{
    width: 100vw;
    min-height:100vh ;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(16, 13, 13, 0.4);
    
}

.comment-container{
    display: flex;
    width: 80%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 500px;
}

.post-pic{
    background-color: black;
    display: flex;
    width: 60%;
    align-items: center;
}

.post-pic img{
    object-fit: fill;
    height: 380px;
    width: 100%;
}

.comment-details{
    width: 40%;
    height: inherit;
    display: flex;
    flex-direction: column;

}

.comment-section{
    flex-grow: 4;
    text-align: left;
    margin-left: 5px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.374);
}
.card-Header{

    border-bottom: 1px solid rgba(114, 114, 114, 0.374);
}

.close-comment{
    position: fixed;
    top: 1%;
    right: 5%;
    color: white;
    border: none;
    cursor: pointer;
    
}


